<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.myspringboost.repository.mybatis.AuthDao">
    <sql id="COMMON_SELECT">
        <![CDATA[
		id,
		creator,
		gmt_create as gmtCreate,
		modifier,
		gmt_modified as gmtModified,
		is_deleted as isDeleted,
		user_id as userId,
		ali_id as aliId,
		resource_owner as resourceOwner,
		refresh_token as refreshToken,
		authorized_date as authorizedDate,
		status,
		default_binding as defaultBinding,
		alias as alias,
		rate as rate,
		app_key as appKey,
		app_secret as appSecret,
		seller_address as sellerAddress,
	    seller_phone as sellerPhone,
	    seller_zip_code as sellerZipCode,
	    return_unit as returnUnit,
	    refresh_token_timeout as refreshTokenTimeout,
	    wish_app_key as wishAppKey,
	    site as site,
	    seller_id as sellerId,
	    wish_product_id as wishProductId,
	    customer_agreement as customerAgreement,
	    is_expired as isExpired,
	    version as version,
	    access_token as accessToken,
	    access_token_timeout as accessTokenTimeout
        ]]>
    </sql>

    <sql id="COMMON_CONDITION">
        and is_deleted='n'
    </sql>

    <sql id="COMMON_CONDITION_EXT">
        is_deleted='n' and status = #{status}
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="aliId != null">
            and ali_id = #{aliId}
        </if>
        <if test="resourceOwner != null">
            and resource_owner = #{resourceOwner}
        </if>
        <if test="defaultBinding != null">
            and default_binding = #{defaultBinding}
        </if>
        <if test="site != null">
            and site = #{site}
        </if>
        <if test="sites != null">
            and site in
            <foreach collection="sites" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="aliIdList != null">
            and ali_id in
            <foreach collection="aliIdList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="wishAppKey != null">
            and wish_app_key = #{wishAppKey}
        </if>
        <if test="alias != null">
            and alias = #{alias}
        </if>
        <if test="idList != null">
            and id in
            <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="notUserId != null">
            and user_id != #{notUserId}
        </if>
        <if test="sellerId != null">
            and seller_id = #{sellerId}
        </if>
        <if test="customerAgreement != null">
            and customer_agreement = #{customerAgreement}
        </if>
        <if test="notSites != null">
            and site not in
            <foreach collection="notSites" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </sql>

    <sql id="COMMON_UPDATE">
        <set>
            gmt_modified = now()
            <if test="isDeleted != null">
                ,is_deleted = #{isDeleted}
            </if>
            <if test="modifier != null">
                ,modifier = #{modifier}
            </if>
            <if test="aliId != null">
                ,ali_id = #{aliId}
            </if>
            <if test="resourceOwner != null">
                ,resource_owner = #{resourceOwner}
            </if>
            <if test="refreshToken != null">
                ,refresh_token = #{refreshToken}
            </if>
            <if test="authorizedDate != null">
                ,authorized_date = #{authorizedDate}
            </if>
            <if test="status != null">
                ,status = #{status}
            </if>
            <if test="defaultBinding != null">
                ,default_binding = #{defaultBinding}
            </if>
            <if test="alias != null">
                ,alias = #{alias}
            </if>
            <if test="rate != null">
                ,rate = #{rate}
            </if>
            <if test="appKey != null">
                ,app_key = #{appKey}
            </if>
            <if test="appSecret != null">
                ,app_secret = #{appSecret}
            </if>
            <if test="sellerAddress != null">
                ,seller_address = #{sellerAddress}
            </if>
            <if test="sellerPhone != null">
                ,seller_phone = #{sellerPhone}
            </if>
            <if test="sellerZipCode != null">
                ,seller_zip_code = #{sellerZipCode}
            </if>
            <if test="returnUnit != null">
                ,return_unit = #{returnUnit}
            </if>
            <if test="refreshTokenTimeout != null">
                ,refresh_token_timeout = #{refreshTokenTimeout}
            </if>
            <if test="wishAppKey != null">
                ,wish_app_key = #{wishAppKey}
            </if>
            <if test="sellerId != null">
                ,seller_id = #{sellerId}
            </if>
            <if test="wishProductId != null">
                ,wish_product_id = #{wishProductId}
            </if>
            <if test="customerAgreement != null">
                ,customer_agreement = #{customerAgreement}
            </if>
            <if test="isExpired != null">
                ,is_expired = #{isExpired}
            </if>
            <if test="accessToken != null">
                ,access_token = #{accessToken}
            </if>
            <if test="accessTokenTimeout != null">
                ,access_token_timeout = #{accessTokenTimeout}
            </if>
        </set>
    </sql>

    <!--
		获取授权: 输出直接映射到对象, refresh_token列要"as refreshToken"以方便映射
	-->
    <select id="get" parameterType="long" resultType="com.myspringboost.entity.Auth">
        select
        <include refid="COMMON_SELECT"/>
        from sm_auth
        where id=#{id} and is_deleted = 'n'
    </select>
</mapper>